*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary-color:#f7444e;
    --secondary-color:#002c3e;
    --light-bg:#d4ced0;
    --footer-bg:#f8f8f8;
    --mont-family:"Montserrat","sans-serif";
    --play-family:"Playfair Display",serif;
}
/* nav-bar css */
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}
.nav-bar .logo img{
    width: 250px;
}
.nav-bar .nav-links ul{
    display: flex;
    gap: 40px;
    font-family: var(--mont-family);
    font-weight: 700;
    font-size: 16px;
}
.nav-bar .nav-links ul li a{
    color: #131313;
    text-transform: uppercase;
}
.nav-bar .nav-links ul li:nth-child(1) a{
    color: var(--primary-color);
}
/* hero css */
.hero-section{
    background: url(./Assets/slider-bg.jpg);
    min-height: 87.4vh;
    background-position: top;
    background-size: cover;
    position: relative;
}
.hero-section .hero-text{
    width:34%;
    display: grid;
    gap: 30px;
    position: absolute;
    top: 20vh;
    left: 25vh;

}
.hero-section .hero-text h1{
    font-size: 72px;
    color: var(--secondary-color);
}
.hero-section .hero-text h1 span{
    color: var(--primary-color);
}
.hero-section .hero-text p{
    font-size: 16px;
    font-family: var(--mont-family);
    font-weight: 400;
    line-height: 24px;
}
/* BUTTON CSS */
.btn{
    background-color: var(--primary-color);
    color: white;
    font-family: var(--mont-family);
    font-weight: bold;
    padding: 15px 45px ;
    width: fit-content;
    border: 1px solid transparent;
}
.btn:hover{
    color: var(--primary-color);
    background-color: var(--light-bg);
    border: 1px solid var(--primary-color);
}
/* Why Shop With Us */
.shop-with-us,.our-products{

    margin: 50px 0px;

}
.heading h1{
    font-size: 70px;
    text-align: center;
    position: relative;

}
.heading span{
    color: var(--primary-color);
}
.heading h1::after{
    content: "";
    height: 5px;
    width: 20%;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%,0);

}
/* .heading{
    display: flex;
    justify-content: center;
} */
.heading{
    display: flex;
    justify-content: center;
}
/* .box-container{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;

}
.box-container .card{
 
    color: white;
    height: 300px;
    width: 300px;
    background-color: var(--secondary-color);
    position: relative;

}
.card1,.card2,.card3{
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: 70px;
} */

.box-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
}
.box-container .card{
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 60px 10px;
    display: grid;
    gap: 10px;
    font-family: var(--mont-family);
    border-radius: 5px;
    width: 300px;
}
.box-container .card i{
    font-size: 40px;
}
.new-arrivals{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--light-bg);
}
.new-arrivals .new-arrival-image img{
    width: 100%;
    height: 60vh;

}
.new-arrivals-text{
    /* font-size: 30px; */
    /* display: grid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 80%;
    
}
.new-arrivals-text h1{
    font-size: 72px;
    color: var(--secondary-color);

}
.new-arrivals-text p{
    font-size: 30px;
}
/* .product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 400px;
    height: 400px;
    border: 4px solid whitesmoke;
    background-image: url(./Assets/p1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

}
.btn1{
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    padding: 15px 50px;
    position: absolute;
    left: 100px;
    top: 430px;
    transition: 1s;
    border: 2px solid transparent;
    border-radius: 60px;


}
.btn2{

    position: absolute;
    transition: 1s;
    top: 430px;
    left: 100px;
    margin-top: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 50px;
    border: 2px solid transparent;
    border-radius: 60px;
}
.btn1:hover{
background-color: transparent;
color: var(--primary-color);
border: 2px solid var(--primary-color);
}
.btn2:hover{
    background-color: transparent;
    color: black;
    border: 2px solid black;
}
.product-card:hover .btn1{
    top: 200px;
    left:100px;
    
}
.product-card:hover .btn2{
    top: 200px;
    left: 100px;
} */

/* our product */
.product-container{
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
}
.pro-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--mont-family);
}
.pro-details p{
    font-weight: bold;
}
.product-card img{
    transition: 0.1s;
width: 180px;
}
.product-card {
    /* background-color: var(--light-bg); */
    width: 300px;
    padding: 40px 30px;
    display: grid;
    gap: 30px;
    position: relative;
    overflow: hidden;
}
.pro-image{
    display: flex;
    justify-content: center;
}
.hover-card{
    position: absolute;
    top: 490px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* top: 382px; */
    background-color: rgba(128, 128, 128, 0.404);
    width: 100%;
    height: 100%;
    transition: 0.1s;
}
.hover-card a{
    font-family: var(--mont-family);
    padding: 15px 10px;
    color: white;
    border: 1px solid transparent;
    width: 200px;
    text-align: center;
    border-radius: 60px;

}
.hover-card a:nth-child(1){
    /* color: white; */
    background-color: var(--primary-color);
}
.hover-card a:nth-child(2){
    /* color: white; */
    background-color: black;
}
.hover-card a:hover:nth-child(1){
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.hover-card a:hover:nth-child(2){
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
.product-card:hover .hover-card{
    top: 0;
}
.product-card:hover img{
transform: scale(1.2);
}
/* VIEW PRODUCT */
.view-product{
    /* margin-top: 10px; */
display: flex;
justify-content: center;
}
.view-product a{
    background-color: var(--primary-color);
    color: white;
    padding: 13px 20px;
    font-size: 30px;
    border: 1px solid transparent;
    font-family: sans-serif;


}
.view-product a:hover{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}
.subscribe{
    margin-top: 100px;
    padding: 100px 50px;
    background-color: var(--light-bg);
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}
.subscribe .sub-heading h1{
    color: var(--secondary-color);
    font-size: 60px;
}
.subscribe .sub-para p{

    color: black;
    font-size: 30px;
}
.subscribe .sub-input input{
    padding-left: 30px;
    font-size: 30px;
    font-weight: 500;
    width: 800px;
    height: 100px;
    border-radius: 60px;

}
.subscribe .sub a{
    border: 1px solid transparent;
    background-color: var(--primary-color);
    color: white;
    padding: 13px 80px;
    font-size: 30px;
    border: 2px solid transparent;
    border-radius: 60px;
}
.subscribe .sub a:hover{
    color: var(--primary-color);
    background-color: transparent;
    border:2px solid var(--primary-color) ;
}
.customer{

    margin-top: 100px;
}
.customer .slide{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 70px;
    text-align: center;
}
.customer .slide img{
    border-radius: 50%;
}
.customer .customer-content{
margin-top: 30px;
display: flex;
flex-direction: column;
gap: 30px;
justify-content: center;
align-items: center;

}
.customer .customer-content h1{
    font-size: 30px;
    font-family: var(--mont-family);
}
.customer .customer-content h2{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    color: lightslategray;
}
.customer .customer-content p{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    width: 70%;
}

.customer .slide i{
    border: 1px solid transparent;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    font-size: 50px;
    padding: 10px;

}
.footer1{
    margin-top: 100px;
    background-color: var(--footer-bg);
    padding: 80px;
    display: flex;
    justify-content: space-around;
}
.footer-col1 .logo img{
    width: 250px;
}
.footer-col1{
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* width: 25%; */
}
.address,.tele,.email{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-col1 .address span , .tele span,.email span{
    font-size: 40px;
    font-weight: bold;
}
.footer-col1 .address p , .tele p,.email p{
    font-size: 30px;
}
.footer-col2,.footer-col3,.footer-col4{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 25%; */
}
.footer-col2 p , .footer-col3 p{
    font-size: 25px;
    font-family: var(--mont-family);
}
.footer-col4 p{
    font-size: 20px;
    font-family: var(--mont-family);
}
.footer-col4 input{
    width: 300px;
    font-size: 20px;
    padding: 20px;
    height: 40px;
}
.e-s{
    display: flex;
    align-items: center;
}
.footer-col4 .e-s a{
    background-color: var(--primary-color);
    color: white;
    padding: 33px;
}
.footer-end{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-end span{
    color: red;
    font-size: 30px;
    font-family: sans-serif;
}
.footer-end p{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}




